{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if not user.is_authenticated %}
    <h2>You can  check out our forum!</h2>
    <h2>Or you can register or login</h2>
    <div style="text-align: center; padding-top: 35px">
        <h1>Latest 5 marvel shows/movies</h1>
        {% for show in latest_tv_show_titles %}
            <p style="font-size: 24px">{{ show }}</p>
        {% endfor %}
    </div>
{% else %}
<h1 style="text-align: center; padding-top: 300px; font-size: 50px;">Welcome {{ user.username }}</h1>
{% endif %}
{% endblock %}