{% extends 'base.html' %}
{% block content %}
    <section class="createPage">
        <form method="post" action="{% url 'add_show' %}">
            <fieldset>
                <legend>Add Show</legend>
                <div class="container">
                    {{ form.as_p }}
                    {{ genre.as_p }}
                    {{ seasons.as_p }}
                    {{ episodes.as_p }}
                    <button class="add-album" type="submit">Add New Show</button>
                    {% csrf_token %}
                </div>
            </fieldset>
        </form>
    </section>
{% endblock %}