{% extends 'base.html' %}
{% block content %}

<h2>{{ tv_show.title }} Details</h2>
<div class="card" style="height: 800px; margin-bottom: 100px">
    <img src="{{ tv_show.poster }}" alt="{{ tv_show.title }} Poster">
    <div class="card-content">
        <h3 class="card-title">{{ tv_show.title }}</h3>
        <p class="card-text">Year: {{ tv_show.year }}</p>
        <p class="card-text">Number of Seasons: {{ tv_show.seasons }}</p>
        <p class="card-text">Genre: {{ tv_show.genre }}</p>
        <p class="card-text">Episodes Watched: {{ tv_show.episodes_watched }}</p>
    </div>
</div>

{% endblock %}
