{% extends 'base.html' %}
{% load static %}
{% block content %}

        <div class="threads-info">
            <h1>Thread Review</h1>
            {% if threads %}
                <ul class="thread-ul">
                    {% for thread in threads %}
                    <li class="thread-li">
                        <h2>{{ thread.title }}</h2>
                        <h3>Author: {{ thread.author }}</h3>
                        <h4>{{ thread.content }}</h4>
                        <p>Created at: {{ thread.created_at }}</p>
                        <a href="{% url 'view_thread' thread.id %}">View Thread</a>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
            <p>No threads found.</p>
            {% endif %}
        </div>

{% endblock %}